/* 雪碧图 */
/*  min-width : 500px  */
.img{background:url(images/img.png)  no-repeat;transform: scale(.7);}
.logo_15{height:13px;width:14px;background-position:0 0;}
.share_07{height:24px;width:25px;background-position:0 -13px;}
.share_03{height:24px;width:25px;background-position:0 -37px;}
.share_05{height:24px;width:25px;background-position:0 -61px;}
.logo_03{height:62px;width:43px;background-position:0 -85px;}
.logo_06{height:55px;width:52px;background-position:0 -147px;}
.logo_19{height:58px;width:53px;background-position:0 -202px;}
.logo_09{height:48px;width:60px;background-position:0 -260px;}
.logo_39{height:92px;width:92px;background-position:0 -308px;}
.image_05{height:109px;width:108px;background-position:0 -400px;}
.image_07{height:109px;width:108px;background-position:0 -509px;}
.image_10{height:109px;width:108px;background-position:0 -618px;}
.image_03{height:109px;width:109px;background-position:0 -727px;}
.logo_25{height:56px;width:124px;background-position:0 -836px;}
.logo_28{height:47px;width:134px;background-position:0 -892px;}
.logo_22{height:53px;width:144px;background-position:0 -939px;}
.logo_31{height:39px;width:169px;background-position:0 -992px;}

@media screen and (max-width: 400px) {
    .img-1,
    .img{transform: scale(.5);}

}
/* 2,3 */
.img-1{background:url(images/img-1.png)  no-repeat;transform: scale(.7);}
._3_07{height:15px;width:16px;background-position:0 0;display: inline-block;vertical-align: middle;}
._2_03{height:49px;width:107px;background-position:0 -15px;}
._2_09{height:32px;width:122px;background-position:0 -64px;}
._3_03{height:140px;width:140px;background-position:0 -96px;}


html {
    font-size: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
    font-size: 0.625rem;
}

* {
    box-sizing: border-box;
}


/* header */
header{
    flex: 0 0 75px;
    
    background: rgb(28, 177, 119);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100vw;
    height: 25px;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 0.625rem;
    
    color: rgb(28, 177, 119);
    background: #fff;
}
.top-img{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

/* header-pc/phone */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header-image {
    height: 49px;
}
._2_03 {
    margin-top: 1px;
    margin-left: 10vw;
}
.navbar-default {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin: 0;
    padding-right: 10vw;
    border: none;
    background-color: transparent;
}

.navbar-default .nav a:hover {
    border-bottom: 3px solid #fff;
}
.navbar-default .navbar-nav > li > a {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: #fff;
    background: rgb(28, 177, 119);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: rgb(28, 177, 119);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: rgb(28, 177, 119);
}
/* Mobile version */

.navbar-default .navbar-toggle {
    margin-right: 10vw;
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: rgb(28, 177, 119);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default {
        flex-direction: column;
        padding: 0;
    }
    .navbar-collapse {
        padding: 0;
        border-color: #ccc;
    }
    .navbar-default .navbar-nav {
        width: 100vw;
        margin: 0;
    }
    .navbar-default .navbar-nav > li > a {
        height: 50px;
        color: #fff;
        font-size: 1rem;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        border: none;
        color: #fff;
        background: rgb(24, 150, 100);
    }
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #fff;
        background: rgb(24, 150, 100);
    }
    
}


/* main */
.carousel-indicators {
    z-index: 1;
}
main {
    flex: 1 0 auto;
    background: rgb(250,250,250);
}
.data {
    display: grid;
    grid-template-columns: repeat(3, 18vw) 1px 18vw;
    justify-content: center;
    align-content: center;
    height: 58vh;
}
.data-1 {
    display: grid;
    grid-template-rows: 8vh 3vh 13vh;
    justify-items: center;
    align-items: center;
}

.data-title{
    font-weight: 700;
}
.data-text {
    align-self: flex-start;
    color: #999;
}
.num-1 {
    justify-self: flex-start;
    align-self: flex-end;
    grid-area: 1/5/3/6;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.num-2 {
    justify-self: flex-start;
    align-self: flex-start;
    grid-area: 3/5/4/6;
    margin-left: 2vw;
}
.text-success {
    margin-bottom: 15px;
    margin-right: 5px;
    color: rgb(18, 160, 112);
}
.num-num {
    font-weight: 700;
    color: rgb(18, 160, 112);
}
.border {
    grid-area: 1/4/4/5;
    border-right: dashed 1px #ccc;
}
@media screen and (max-width: 500px) {
    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 60vw;
        height: auto;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .data-4 {
        text-align: center;
    }
    .num-1 {
        margin: 0;
        margin-bottom: 3vh;
    }
    .num-2 {
        margin: 0;
        margin-bottom: 3vh;
    }
}

/* step */
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
}

.step-1 {
    display: flex;
    align-items: center;
}
.step-title {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 2vh;
    border-radius: 50%;
    border: solid 1px #ccc;
    box-shadow: 0 2px 1px #ccc;
    font-size: 1vw;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    color: rgb(28, 177, 119);
    background: #fff;
}
.step-text {
    width: 110px;
    margin-right: 20px;
    color: #999;
}
.step-img {
    width: 21px;
    height: 24.5px;
    margin-right: 20px;
    
}
.step-img-4,
.step-img-8 {
    visibility: hidden;
}

@media screen and (max-width: 1920px) and (min-width: 1650px) {
    .step {
        width: 65%;
    }
    .image_07,
    .image_10,
    .image_03,
    .image_05{transform: scale(1.1);}
}
@media screen and (max-width: 1350px) {
    .step {
        width: 50%;
    }
    .step-img-4,
    .step-img-8{
        visibility: visible;
    }
}
@media screen and (max-width: 500px) {
    .step-1,
    .step {
        flex-direction: column;
    }
    .step-text {
        text-align: center;
        margin-bottom: 2vh;
    }
    .step-img {
        transform: rotate(90deg);
        margin-bottom: 2vh;
    }
    .step-img-8{
        display: none;
    }
}
/* 人脉 */
.caption {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 1.125rem;
    font-weight: 700;
}
.human {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
}
.human-1{
    display: grid;
    grid-template-rows: 40% 10% 50%;
    justify-items:center;
    align-items: center;
    width: 15vmax;
    height: 25vmax;
    border: ridge 1px #ccc;
    box-shadow: 0 2px 2px #ccc;
    margin: auto;
    margin-bottom: 3vh;
    background: #fff;
}
.human-title {
    font-size: 1.3vmax;
    font-weight: 700;
}
.human-text {
    padding: 20px;
    font-size: .9vmax;
    color: #999;
}
@media screen and (max-width:1000px) {
    .human-1 {
        width: 20vmax;
        height: 30vmax;
    }
}
/* 企业 */
.company {
    display: flex;
    width: 80vw;
    margin: auto;
    border: ridge 1px #eee;
    box-shadow: 0 2px 2px #ccc;
    background: #fff;
    margin-bottom: 5vh;
}
.company-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 10vw;
}
.company-1:hover {
    border: ridge 1px #eee;
    box-shadow: 0 2px 2px #ccc;
    box-shadow: 0 -2px 2px #ccc;
}
@media screen and (max-width: 1100px) {
    .company {
        flex-direction: column;
        align-items: center;
        width: 60vw;
    }
    .company-1 {
        width: 60vw;
    }
}

/* 链接 */
.caption-a {
    background: #fff;
}
.caption-a a{
    color: #000;
}
.caption-a a:link,
.caption-a a:hover {
    text-decoration: none;
}
.a-m {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-bottom: 3vh;
    background: #fff;
}
.a {
    margin: 0;
    padding: 0;
    color: #999;
}
.a li {
    height: 20px;
    line-height: 20px;
}
.a li:hover{
    border-bottom: solid 2px rgb(26,163,111);
}
.a-1 {
    display: none;
}
@media screen and (max-width: 700px) {
    .a-m {
        justify-content: center;
    }
    .a-1 {
        display: block;
    }
    .a-2 {
        display: none;
    }
}


/* footer */
footer {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    background: rgb(28, 177, 119);
}
.footer {
    flex: 1 1 119px;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.footer-1,
.footer-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-title {
    font-size: .8rem;
}
.footer-text {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.footer-text-1 {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.footer-text-1:hover {
    border-bottom: solid 2px #fff;
}
.footer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-img {
    width: 64.4px;
    height: 64.4px;
}
.bottom {
    flex: 0 0 21px;
    text-align: center;
    line-height: 21px;
    border-top:solid 1px rgb(47,188,135);
    color: #fff;
}
@media screen and (max-width: 400px) {
    footer {
        flex: 0 0 300px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer-1,
    .footer-2 {
        text-align: center;
        width: 60vw;
        height: 50px;
    }
    .footer-text {
        margin: auto;
    }
}