html{
	background: rgb(239,240,244);
	min-width: 410px;
}
body{
	margin: 0px;
}
.top{
	height: 88px;
	background: rgb(95,192,205);
	font-size: 29px;
	color: white;
	line-height: 88px;
	text-align: center;
}
.top-left{
	position: absolute;
	left: 28px;
}
.top-right{
	position: absolute;
	right: 28px;
}
.top-center{
	height: inherit;
	text-align: center;
	margin:auto;
	font-size: 33px;
}
.input{
	height: 100px;
	background: white;
	
	margin-top: 16px;
	
	display: flex;
	align-items: center;
}
.img{
	display: inline-block;
	width: 116px;
	text-align: center;
}
.img1{
	margin-right: 27px;
}
input{
	font-size: 29px;
	border:none;
	outline:none;
}
/* input-number 上下箭头隐藏 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.login{
	height: 100px;
	background: rgb(95,192,205);
	font-size: 33px;
	color: white;
	line-height: 100px;
	text-align: center;
	letter-spacing: 10px;
	
	margin-top: 69px;
}
.key{
	margin-top: 19px;
	font-size: 29px;
	color: rgb(107,195,208);
	text-decoration: underline;
	margin-right: 28px;
	float: right;
}

