<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CSS布局</title>
		<link rel="stylesheet" href="study-layout.css">
		
		<!-- less -->
		<!-- <link rel="stylesheet/less" type="text/css" href="study.less" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
	 -->
	</head>
	<body>
		<!-- 总 -->
		<header class="header" id="top">
			<h1>CSS布局方式</h1>
			<p>css2 定义了四种布局：<a href="table-study-layout.html">table布局</a>、float布局、<a href="../css-drawing/index.html">盒定位</a></p>
			<p>css3 引入了新的布局：<a href="flex-study-layout.html">flex布局</a></p>
			<p>响应式布局(应对兼容性以及移动端问题)</p>
			<p><a href="index.html">Grid布局</a></p>
		</header>
		
		<!-- table布局 -->
		<h1 class="h1" id="table">table布局（未完成）</h1>
		<h2 class="h2">table语法</h2>
		<div class="table">
			<table id="table-grammar">
				<caption>html中的table标签和css table布局之间关系</caption>
				<tr>
					<th>HTML标签</th>
					<th>CSS样式</th>
					<th>意义</th>
				</tr>
				<tr>
					<td>table</td>
					<td>display:table/inline-table</td>
					<td>块表格/内联样式的表格</td>
				</tr>
				<tr>
					<td>caption</td>
					<td>display:table-caption</td>
					<td>标题</td>
				</tr>
				<tr>
					<td>tr</td>
					<td>display:table-row</td>
					<td>行</td>
				</tr>
				<tr>
					<td>col</td>
					<td>display:table-column</td>
					<td>列</td>
				</tr>
				<tr>
					<td>td(单元格)，th(表头)</td>
					<td>display:table-cell</td>
					<td>单元格</td>
				</tr>
				<tr>
					<td>thead</td>
					<td>display:table-header-group</td>
					<td>表格标题组</td>
				</tr>
				<tr>
					<td>tbody</td>
					<td>display:table-row-group</td>
					<td>表格行组</td>
				</tr>
				<tr>
					<td>colgroup</td>
					<td>display:table-column-group</td>
					<td>表格列组</td>
				</tr>
				<tr>
					<td>tfoot</td>
					<td>display:table-footer-group</td>
					<td>表格脚注组</td>
				</tr>
			</table>
		</div>
	<!-- 	<h2 class="h2">table实例</h2>
		<h3 class="h3">动态垂直居中对齐</h3>
		<div class="table">
			<div class="example" id="table-result-1">
				<div id="table-result-1-body">
					<button>添加行</button>
					<div class="box">
						<p>Double Line</p>
						<p>Double Line</p>
					</div>
				</div>
			</div>
		</div> -->
		
		
		<!-- js -->
		<!-- <script type="text/javascript" src="study.js"></script> -->
	</body>
</html>
