div{
	width: 30vw;
	height: 30vw;
	display: inline-block;
	background: orangered;
	border-radius: 1vw;
}
.box{
	background: none;
	width: auto;
	height: auto;
	display: block;
	
	text-align: center;
}