.img{display: inline-block;background:url(images/img.png)  no-repeat;background-size:174px 256px}
.page1-01{height:20px;width:12px;background-position:0 0;}
.page1-02{height:13px;width:17px;background-position:0 -20px;}


body{
    display: flex;
    flex-direction: column;
    
    max-height: 100vh;
    margin: 0;
    
    background: rgb(240,240,240);
}
div{
    box-sizing: border-box;
}
header{
    flex: 0 0 44px;
    display: flex;
    align-items: center;
    
    background: rgb(90,192,207);
}
.header-img{
    margin-left: 20px;
}

main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 15px;
    padding-bottom: 30px;
}
.main-top{
    flex: 0 1 50px;
    display: flex;
    align-items: center;
    
    width: 90vw;
    border: solid 1px rgb(200,200,200);
    
    font-size: 18px;
    text-align: center;
    
    color: rgb(154,154,154);
    background: #FFF;
}
.main-top-text{
    flex: 1 1 auto;
    text-align: center;
}
.main-top-img{
    flex: 0 1 auto;
    margin-right: 8px;
}

.main-triangle{
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: rgb(251,180,53);
    border-right: none;
}


.main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
    margin-top: 15px;
    width: 90vw;
    border: solid 1px rgb(200,200,200);
    
    color: rgb(154,154,154);
    background: #FFF;
}
.main-text-top{
    flex: 0 1 45px;
    
    border-bottom: solid 1px rgb(253,215,147);
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    
    color: rgb(251,180,53);
}

.main-text{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    padding-top: 20px;
}
.class{
    color: rgb(154,154,154);
}
.btn{
    height: 12vh;
    width: 70vw;
    border: solid 1px rgb(200,200,200);
    
    font-size: 20px;
    text-align: center;
    line-height: 12vh;
    
    color: #FFF;
    background: rgb(105,209,233);
}
.btn a{
    text-decoration: none;
    color: #FFF;
}
.c-text{
    height: 8vh;
    text-align: center;
    line-height: 8vh;
}
.c-text-1{
    margin-top: 2vh;
    text-align: center;
    margin-bottom: 5px;
}


.main-text-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.bottom-ball{
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background: rgb(240,240,240);
}
.bottom-ball-1{
    background: rgb(105,209,233);
}


