.img{background:url(images/img.png)  no-repeat;display: inline-block;}
.css-10_10{margin-right: 0.625rem;height:20px;width:15px;background-position:0 0;}
.css-10_03{margin-right: 0.625rem;height:15px;width:19px;background-position:0 -20px;}
.css-10_06{margin-right: 0.625rem;height:20px;width:22px;background-position:0 -35px;}
.css-10_14{transform: scale(.8);height:92px;width:92px;background-position:0 -55px;}

html {
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
* {
    box-sizing: border-box;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    min-width: 300px;
}
header {
    flex: 0 0 70px;
    background: rgb(240,240,240);
    font-size: .5rem;
}
.top {
    height: 20px;
    padding: 0 18vw;
    line-height: 20px;
    font-size: .5rem;
    background: rgb(19,118,220);
    color: #fff;
}
.top-1 {
    float: right;
}
.top-2 {
    width: 50px;
    height: 20px;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
    font-size: .7rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.top-21 {
    
    margin-right: -5px;
}
.link {
    color: #000;
    background: #fff;
}
.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding-right: 18vw;
}
.list-1 {
    padding: 5px 3vw;
    border-radius: .3rem;
    border: outset .05rem #eee;
    margin-right: 10px;
    font-size: .5rem;
    outline: none;
    background: #fff;
    cursor: pointer;
}
.list-11 {
    margin-right: 0;
}
.link-1 {
    background: rgb(19,118,220);
    color: #fff;
}

main {
    flex: 1 1 auto;
}
.nav {
    display: grid;
    grid-template-rows: 50px 1rem;
    align-items: center;
    justify-items: flex-end;
    height: 60px;
    padding-right: 18vw;
    margin-bottom: 5vh;
}
.nav-1 {
    display: grid;
    grid-template-columns: repeat(4,10vw);
    justify-content: flex-start;
    width: 40vw;
    height: 5px;
    border-radius: 2.5px;
    background: #ccc;
}
.long-1 {
    position: relative;
    width: 10vw;
    height: 5px;
    border-radius: 2.5px;
}
.c-1 {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    font-size: .5rem;
    text-align: center;
    line-height: 12.5px;
    color: white;
    background: #ccc;
}
.n-link {
    background: rgb(247,125,0);
}
.t-link {
    color: rgb(247,125,0);
}
.txt {
    display: grid;
    grid-template-columns: repeat(4,10vw);
    justify-items: center;
    align-items: center;
    color: #999;
}


/* form */
.tip {
    display: flex;
    align-items: center;
    width: 63vw;
    margin: auto;
}
.tip-1 {
    display: inline-block;
    width: 5px;
    height: 1rem;
    border-radius: 2.5px;
    margin-right: 10px;
    background: rgb(17,119,219);
}
form {
    display: flex;
    flex-direction: column;
    width: 63vmax;
    height: 45vmax;
    border: solid 1px #ccc;
    margin: auto;
    margin-bottom: 5vh;
}

/* 单选框 */
label {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
    cursor: pointer;
}
input[type="radio"] {
    display: none;
}
label::before {
    display: inline-block;
    content: "";
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    border: 1px solid rgb(17,119,219);
    margin-right: 5px;
}
input[type="radio"]:checked+label::before {
    background: rgb(17,119,219);
}
input[type="radio"]:checked+label::after {
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background: #fff;
}
/* 下拉列表 */
select {
    width: 100px;
    height: 1.5625rem;
    border: #CCC solid 1px;
    padding-left: 10px;
    color: #999;
    
}

.select {
    position: relative;
}
.select-1 {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: rgb(17,119,219);
    pointer-events: none;
}
.select-2 {
    position: absolute;
    top: 50%;
    right: 5.5px;
    transform: translateY(-50%);
    widows: 0;
    height: 0;
    border-top: solid 7px #fff;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    pointer-events: none;
}
/* 文本框 */
input[type="text"] {
    width: 50px;
}
/* 布局 */
.f-title {
    display: flex;
    align-items: center;
    height: 6%;
    padding-left: 0.625rem;
    color: rgb(17,119,219);
    background: rgb(240,240,240);
}
.f-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 1.25rem;
}
.c-l {
    margin-right: 20px;
}
.c-2 {
    display: flex;
    margin-bottom: 2vh;
}
.c-t {
    margin: 0 20px;
}
.c-22 {
    margin: 0;
}
/*按钮 */
.f-btn {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #ccc;
}
.f-btn button {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
    background: rgb(227,79,79);
}

footer {
    flex: 0 0 120px;
    color: #999999;
}
.footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 25px 18vw;
    font-size: .7rem;
    background: rgb(240,240,240);
}
.f-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 190px;
    height: 40px;
}
.f-2 span {
    margin-right:10px;
}
.f-2 {
    justify-content: flex-start;
}
.f-2 a{
    text-decoration: none;
    color: #999;
}
.f-link a {
    color: #00f;
}
.f-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}
.f-31 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: .2rem;
    background: rgb(19,118,220);
    color: #fff;
}
.bottom span {
    margin: 0 5px;
}


@media screen and (max-width: 400px) {
    .top-1 {
        display: none;
    }
   .list {
        display: none;
    }
    .list li {
        width: 100%;
    }
    .list .list-1 {
        width: 100%;
        height: 25px;
        border-radius: 0;
        border: none;
        background: rgb(240,240,240);
    }
    .list .list-1:hover {
        color: #fff;
        background: #ccc;
    }
    .link-1 {
        color: #000;
    }
    .header {
        position: absolute;
        width: 100%;
        height: 100px; 
    }
    .icon {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 30px;
        border-radius: 5px;
        border: solid 3px #fff;
        cursor: pointer;
    }
    .icon-1,
    .icon-2,
    .icon-3 {
        position: absolute;
        right: 7px;
        width: 20px;
        border-bottom: solid 3px #fff;
    }
    .icon-1 {
        top: 4px;
    }
    .icon-2 {
        top: 11px;
    }
    .icon-3 {
        top: 18px;
    }
    .icon:hover+.list {
        position: absolute;
        top: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100px;
        padding: 0;
    }
    .list:hover {
        position: absolute;
        top: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100px;
        padding: 0;
    }
    .footer {
        height: 200px;
        flex-direction: column;
    }
    .bottom {
        height: 100px;
    }
    .f-btn button{
        width: 50%;
        font-size: .5rem;
    }  
    
}
@media screen and (max-width: 1100px) {
    main {
        display: flex;
    }
    .nav {
        display: grid;
        grid-template-rows: 60vh;
        grid-template-columns: 40px 1rem;
        align-items: center;
        justify-items: center;
        padding: 0;
        margin-right: 30px;
        margin-left: 30px;
    }
    .nav-1 {
        display: grid;
        grid-template-columns:5px;
        grid-template-rows: repeat(4,12.5vh);
        width: 5px;
        height: 50vh;
    }
    .long-1 {
        position: relative;
        height: 12.5vh;
        width: 5px;
        border-radius: 2.5px;
    }
    .c-1 {
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        width: 12.5px;
        height: 12.5px;
        border-radius: 50%;
        font-size: .5rem;
        text-align: center;
        line-height: 12.5px;
        color: white;
        background: #ccc;
    }
    .n-link {
        background: rgb(247,125,0);
    }
    .t-link {
        color: rgb(247,125,0);
    }
    .txt {
        display: grid;
        grid-template-columns: 1rem;
        grid-template-rows: repeat(4,12.5vh);
        justify-items: center;
        align-items: center;
        font-size: .5rem;
        color: #999;
    }
    
    
    .tip {
        width: 1rem;
        margin: 0;
        flex-direction: column;
        margin-top: 10vh;
    }
    .tip-1 {
        width: 1rem;
        height: 5px;
        margin: 0;
        margin-bottom: 10px;
    }
    form {
        width: 60vw;
        min-height: 100vh;
        margin: 5vh auto;
    }
    .f-content {
        flex-direction: column;
    }
    .c-2 {
        flex-direction: column;
        align-items: center;
    }
    
}