body {
	display: flex;
	flex-direction: column;
	
	width: 100vw;
	margin: 0;
	min-height: 100vh;
	
	font-size: 18px;
}
header {
	flex-basis: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: white;
	background: rgb(90,192,206);
}
header img {
	position: absolute;
	left: 18px;
}

.introduce {
	flex-basis: 160px;
	display: flex;
	align-items: center;
	
	background: url(images/task5-1_02.png) no-repeat ;
	background-size: cover;
}
.img {
	margin: 0 18px;
}
.text {
	flex-grow: 1;
	
	font-size: 15px;
	color: white;
}
.name span {
	margin-left: 15px;
}
.name {
	margin-bottom: 10px;
}
.address {
	font-size: 13px;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	
	font-size: 16px;
	
	background: white;
}
.skill {
	display: flex;
	align-items: center;
	
	height: 50px;
	border-bottom: solid 1px gray;
}
.information {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	
	margin: 0;
	padding: 0;
	margin-left:15px;
	
	list-style: none;
}
.gray {
	margin-right: 13px;
	
	color: gray;
}
.line {
	flex-basis: 50px;
	display: flex;
	align-items: center;
	
	border-bottom: solid 1px gray;
}
.title-1 {
	width: 75px;
	text-align: center;
}
.value {
	font-weight: 700;
	color: red;
}
.line-text {
	display: grid;
	grid-template-columns: 100px 13px auto;
	align-items: center;
	align-content: center;
	
	padding: 20px 0 20px 10px;
	border-bottom: solid 1px gray;
}
.title {
	flex-basis: 100px;
	text-align: center;
	color: dimgray;
}


footer {
	flex-basis: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-1,
.btn-2 {
	width: 40%;
	height: 44px;
	box-sizing: border-box;
	margin:0;
	border: none;
	padding: 0;
	border-radius: 1vw;
	
	line-height: 44px;	
	font-size: 15px;
}
.btn-1 {
	margin-left: 19px;
	border: solid 1px rgb(90,192,206);
	color: rgb(90,192,206);
	background: white;
}
.btn-2 {
	margin-right: 19px;
	
	background: rgb(90,192,206);
	color: white;
}